*.class
*.jar
*.war
*.ear
.settings
.DS_Store
.classpath
.project
.db
.idea
*.iml
*.apk
nb-configuration.xml
nbactions.xml
Thumbs.db
.*~
target
work
catalina.base_IS_UNDEFINED
node_modules
dist
/nbproject
/resources
/init
/logs
package-lock.json
